* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-size: 15px;
}

.card-container {
  @include flex(center, center, row);
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  max-width: 60rem;
  min-height: 100vh;
  padding: 1rem 2rem;
  margin: auto;
}

h1 {
  font-family: "Big Shoulders Display", cursive;
  color: white;
  font-size: $headerSize;
  text-transform: uppercase;
}

p {
  font-family: "Lexend Deca", sans-serif;
  font-size: $paraSize;
  color: $paragraph;
}
